.section{
    margin-bottom: 50px;
}
/* headr strat */
header{
    padding: 10px 0px;
    background-color: whitesmoke;
}
.logo{
    font-weight: 700;
}
.menu ul li{
    padding: 0px 20px;
}
.menu ul li a{
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: green;
    text-shadow: 0px 0px 2px green;
}
.active{
    color: red !important;
    text-shadow: 0px 0px 2px red;
}
.active:hover{
    text-shadow: 0px 0px 2px red !important;
}
/* headr end */
h1{
    padding: 30px 0px;
    text-transform: uppercase;
}
.graph {
    float: left;
    margin-left: 10px;
  }
  
  .custom-colorize {
    font-size: 20px;
    position: relative;
    width: 75px;
    height: 75px;
  }
  .custom-colorize-changer {
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }